<html>
  <head>
    <title>Django Girls Blog</title>
  </head>
  <body>
      <div>
        <h1><a href="/">Django Girls Blog</a></h1>
      </div>
      <div>
        <p>published: 03.03.2018, 12:14</p>
        <h2><a href="">My first post</a></h2>
        <p>This is text under the first post.</p>
      </div>

      <div>
        <p>published: 03.03.2018, 1:50</p>
        <h2><a href="">My second post</a></h2>
        <p>This is the text under the second post.</p>
      </div>
  </body>
</html>
